@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-items {
    width: 10vw;
}

.maindiv,
.loadingdiv {
    height: 88vh;
}

.bg-img {
    height: 88vh;
    filter: brightness(0.5);
}

.mainscreenimg {
    width: 80vw;
    height: 30vh;
}

.content-div {
    height: 72vh;
}

.dropdown,
.dropdownbutton {
    width: 70vw;
}

.expensediv,
.incomediv {
    width: 81vw;
    height: 50vh;
}

.inputdiv {
    width: 81vw;
    height: 74vh;
}

.alltransactions {
    width: 72vw;
    height: 31vh;
}

.nocontent {
    height: 20vh;
}

.transactionitems {
    width: 72vw;
}

.submitbutton {
    width: 72vw;
}

.dropdwoninputtracker {
    width: 73vw;
}

.dropdown-menu {
    width: 69vw;
}

.loadingtransactions {
    height: 20vh;
}


/* pc */

@media only screen and (min-width: 768px) {


    .mainscreenimg {
        width: 38vw;
        height: 43vh;
    }
    .dropdown,
    .dropdownbutton {
        width: 34vw;
    }
    .dropdown-menu {
        width: 34vw;
    }
    .something {
        height: 14vh;
        width: 11vw;
    }
    /* scrollbar */
    /* width */
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .expensediv,
    .incomediv {
        width: 30vw;
        height: 46vh;
    }
    .inputdiv {
        width: 25vw;
        height: 63vh;
    }
    .alltransactions {
        width: 23vw;
        height: 28vh;
    }
    .nocontent {
        height: 20vh;
    }
    .transactionitems {
        width: 21.7vw;
    }
    .submitbutton {
        width: 22.5vw;
    }
    .dropdwoninputtracker {
        width: 21.7vw;
    }
    .loadingtransactions {
        height: 19vh;
    }
}